# Varlık İsmi Tanıma (Named Entity Recognition) (NER)

In [1]:
import pandas as pd
import spacy

**Varlık ismi tanıma**: metin (cümle) -> Metin içerisinde bulunan varlık isimlerini tanıma

In [2]:
nlp = spacy.load("en_core_web_sm") # Spacy içerisindeki ingilizce dil modeli.

In [3]:
content = "Alice works at Amazon and lives in London. She visited the British Museum last weekend."

In [4]:
doc = nlp(content) # Bu işlem metindeki varlıkı analiz eder.

In [5]:
for ent in doc.ents:
    # ent.text : Varlık ismi
    # ent.start_char , ent.end_char : Varlığın başlangıç ve bitiş karakterleri
    # ent.label_ : varlık türü
    # print(ent.text,ent.start_char,ent.end_char,ent.label_)
    print(ent.text , ent.label_)

Alice PERSON
Amazon ORG
London GPE
the British Museum ORG
last weekend DATE

In [6]:
# ent.lemma : Varlık kök hali
entities = [(ent.text , ent.label_ , ent.lemma_) for ent in doc.ents]
entities

[('Alice', 'PERSON', 'Alice'),
 ('Amazon', 'ORG', 'Amazon'),
 ('London', 'GPE', 'London'),
 ('the British Museum', 'ORG', 'the British Museum'),
 ('last weekend', 'DATE', 'last weekend')]

**Varlık Listesini Pandans df Çevirme İşlemi**

In [7]:
df = pd.DataFrame(entities , columns = ["text", "type","lemma"])
df

                 text    type               lemma
0               Alice  PERSON               Alice
1              Amazon     ORG              Amazon
2              London     GPE              London
3  the British Museum     ORG  the British Museum
4        last weekend    DATE        last weekend